<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hss.mybatis.mapper.UserMapper">

    <!-- LRU 最近最少使用的，一处最长时间不用的对象
           flushInterval 刷新间隔时间，没有配置的时候SQL执行的时候才会刷新缓存。
           size 引用数目，代表缓存最多可以存储多少对象，设置过大会溢出。
           readOnly 缓存数据只能读取 不能修改。默认为false
      -->
    <cache eviction="LRU" flushInterval="100000" readOnly="true" size="1024"/>

    <select id="getUserById" parameterType="int" resultType="com.hss.mybatis.pojo.User">
        select * from users where id=${id}
    </select>

    <select id="findUserOrderBy" parameterType="java.util.Map" resultType="com.hss.mybatis.pojo.User">
        select * from users where id=#{id} order by ${sidx} ${sord}
    </select>
</mapper>